DB_HOST=db_호스트주소
DB_ROOT_PASSWORD=루트_패스워드
DB_USER=db_유저네임
DB_PASSWORD=db_패스워드

REDIS_HOST=redis_호스트주소

JWT_SECRET=jwt_시크릿_키
JWT_REFRESH=jwt_리프레시토큰_시크릿_키

GITHUB_CLIENT_ID=깃허브_클라이언트_아이디
GITHUB_CLIENT_SECRET=깃허브_클라이언트_시크릿